<nav class="bg-gray-900 text-white px-4 py-3 border-white/50 border-b-1">
    <div class="max-w-7xl mx-auto flex items-center justify-between">
      <div class="text-2xl font-bold">Kanban Board</div>
      @if(isAuthenticated){
        <div id="menu" class="hidden md:flex space-x-6">
          <a routerLink="/dashboard" class="hover:text-gray-300">Home</a>
          <a routerLink="/dashboard" class="hover:text-gray-300">Boards</a>
          <a routerLink="/tasks" class="hover:text-gray-300">Tasks</a>
          <button (click)="logout()" class="hover:text-gray-300 cursor-pointer">Logout</button>
        </div>
      }
      @else{
        <div id="menu" class="hidden md:flex space-x-6">
          <a routerLink="/login" class="hover:text-gray-300">Login</a>
          <a routerLink="/register" class="hover:text-gray-300">Register</a>
        </div>
      }
    </div>
 
  </nav>

